.version.index /* version checker */
{
	color: #000016;
	background-color: #6EBCAC;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	z-index: 1;
	width: 100%;
	background-color: transparent;
	margin-left: auto;
	padding-bottom: 88.35000000000036px;
}

#slideshowu75
{
	margin-right: -10000px;
	position: relative;
	z-index: 89;
	width: 0.01px;
}

#u77
{
	position: absolute;
	background-color: transparent;
}

#u77popup
{
	z-index: 90;
}

#u17612
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 91;
	background-color: transparent;
	border-color: transparent;
}

#u4160
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 93;
	background-color: transparent;
	border-color: transparent;
}

#u4175
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 95;
	background-color: transparent;
	border-color: transparent;
}

#u4198
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 97;
	background-color: transparent;
	border-color: transparent;
}

#u96-3
{
	border-style: solid;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: absolute;
	background-position: center center;
	padding: 15px;
	line-height: 20px;
	border-color: #DBDBDB;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	border-width: 0px 1px 0px 0px;
	background-size: contain;
}

#u96-3popup
{
	z-index: 99;
}

#u88-3
{
	color: #999999;
	border-style: solid;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: absolute;
	background-position: center center;
	padding: 15px;
	line-height: 20px;
	border-color: #DBDBDB;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	border-width: 0px 0px 0px 1px;
	background-size: contain;
}

#u88-3popup
{
	z-index: 102;
}

#u96-3:hover,#u88-3:hover
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	padding-top: 15px;
	background-repeat: no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	padding-bottom: 15px;
	background-position: center center;
	margin: 0px;
	background-size: contain;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1187-4
{
	color: #FFFFFF;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	z-index: 144;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	letter-spacing: 1px;
}

#u1189-4
{
	color: #F4F4F4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 14px;
	z-index: 148;
	background-color: transparent;
	position: relative;
	font-size: 12px;
}

#u1189-2
{
	padding-top: 9px;
}

#u1180
{
	border-color: #E8E8E8;
	z-index: 19;
	border-style: solid;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u1180_align_to_page
{
	margin-right: auto;
	width: 100%;
	margin-left: auto;
	position: relative;
}

#u1186
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 20;
	background-color: transparent;
	border-color: transparent;
}

#u1185-4
{
	margin-right: -10000px;
	min-height: 34px;
	position: relative;
	line-height: 14px;
	z-index: 29;
	background-color: transparent;
}

#pu1182-4
{
	margin-right: -10000px;
}

#u1182-4
{
	margin-right: -10000px;
	min-height: 34px;
	position: relative;
	line-height: 14px;
	z-index: 21;
	background-color: transparent;
}

#u1183-4
{
	border-style: solid;
	position: relative;
	line-height: 14px;
	z-index: 25;
	background-color: transparent;
	border-color: #D6D6D6;
	margin-right: -10000px;
	min-height: 34px;
	border-width: 0px 1px;
}

#u1185-4:hover p,#u1182-4:hover p,#u1183-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#u1185-4:hover,#u1185-4.MuseLinkActive,#u1182-4:hover,#u1182-4.MuseLinkActive,#u1183-4:hover,#u1183-4.MuseLinkActive
{
	margin-right: -10000px;
	padding-top: 0px;
	min-height: 34px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#u1185-4.MuseLinkActive p,#u1182-4.MuseLinkActive p,#u1183-4.MuseLinkActive p
{
	color: #B5B5B5;
	visibility: inherit;
}

#u1180-bw
{
	z-index: 19;
}

#u1192-4
{
	position: relative;
	line-height: 36px;
	z-index: 60;
	min-height: 53px;
	background-color: transparent;
}

#u1294-4
{
	margin-top: 9px;
	position: relative;
	z-index: 52;
	min-height: 40px;
	background-color: transparent;
}

#u1191-7
{
	position: relative;
	z-index: 33;
	min-height: 266px;
	background-color: transparent;
}

#u1196-12
{
	position: relative;
	z-index: 40;
	min-height: 107px;
	background-color: transparent;
}

#u1196-8
{
	text-align: left;
}

#u1262-4
{
	position: relative;
	line-height: 36px;
	z-index: 64;
	min-height: 53px;
	background-color: transparent;
}

#u1296-4
{
	position: relative;
	z-index: 56;
	min-height: 41px;
	background-color: transparent;
}

#slideshowu1326
{
	margin-left: 50%;
	position: relative;
	z-index: 105;
	width: 0.01px;
}

#u1327
{
	border-width: 0px;
	position: absolute;
	background-color: #4C4C4C;
	border-color: transparent;
	height: 686px;
	padding: 22px 22px 40px;
}

#u1327popup
{
	z-index: 106;
}

#u3997
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 107;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4242
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 109;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4296
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 111;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4341
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 113;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4362
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 115;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4371
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 117;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4396
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 119;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u4251
{
	margin-right: -10000px;
	left: 22px;
	position: relative;
	z-index: 121;
	top: 22px;
	background-color: transparent;
	height: 624px;
}

#u1346
{
	position: absolute;
}

#u1346popup
{
	z-index: 123;
}

#u4000
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 124;
	background-color: transparent;
	border-color: transparent;
}

#u4245
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 126;
	background-color: transparent;
	border-color: transparent;
}

#u4299
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 128;
	background-color: transparent;
	border-color: transparent;
}

#u4344
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 130;
	background-color: transparent;
	border-color: transparent;
}

#u4365
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 132;
	background-color: transparent;
	border-color: transparent;
}

#u4374
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 134;
	background-color: transparent;
	border-color: transparent;
}

#u4399
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 136;
	background-color: transparent;
	border-color: transparent;
}

#u4000:hover,#u4245:hover,#u4299:hover,#u4344:hover,#u4365:hover,#u4374:hover,#u4399:hover
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 0px;
	opacity: 0.8;
	min-height: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

#u4254
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 138;
	background-color: transparent;
	border-color: transparent;
}

#u4254:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0.8;
	min-height: 0px;
	border-radius: 0px;
	filter: alpha(opacity=80);
	margin: 0px -10000px 0px 0px;
}

#u17295-4
{
	position: relative;
	line-height: 36px;
	z-index: 140;
	min-height: 53px;
	background-color: transparent;
}

#u2154-4
{
	position: relative;
	z-index: 68;
	min-height: 41px;
	background-color: transparent;
}

#u11380
{
	left: 0px;
	position: relative;
	z-index: 88;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	min-width: 30px;
	max-width: 100000px;
	height: 400px;
}

#u2163-13
{
	min-height: 158px;
	position: relative;
	z-index: 72;
	background-color: transparent;
}

#u2163-2,#u2163-3
{
	line-height: 24px;
	text-align: center;
	font-size: 17px;
}

#u2163-7,#u2163-9,#u2163-11
{
	line-height: 21px;
	text-align: center;
	font-size: 15px;
}

#pslideshowu75,#ppu4752
{
	width: 100%;
}

#u4752
{
	margin-right: -10000px;
	left: -49px;
	margin-left: 50%;
	position: relative;
	z-index: 8;
	width: 48px;
	height: 49px;
}

#u4754
{
	margin-right: -10000px;
	margin-left: 50%;
	position: relative;
	z-index: 11;
	width: 48px;
	height: 49px;
}

#u4756
{
	margin-right: -10000px;
	margin-left: 50%;
	position: relative;
	z-index: 14;
	width: 48px;
	height: 49px;
}

#u4758
{
	margin-right: -10000px;
	margin-left: 50%;
	position: relative;
	z-index: 17;
	width: 48px;
	height: 49px;
}

#u1091-5
{
	min-height: 21px;
	margin-left: 50%;
	position: relative;
	z-index: 2;
	width: 179px;
	top: -1px;
	margin-bottom: -1px;
}

.html
{
	background-color: #FFFFFF;
}

#about,#gallery,#contact,body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 4518.65px;
	}

	#slideshowu75
	{
		height: 859px;
		margin-left: 50%;
		left: -600px;
	}

	#u77,#u17612,#u4160,#u4175,#u4198
	{
		width: 1200px;
		height: 778px;
	}

	#u96-3
	{
		width: 62px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_left.png");
		top: 792px;
		left: 19px;
	}

	#u96-3:hover
	{
		min-height: 37px;
		width: 62px;
	}

	#u88-3
	{
		width: 61px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_right.png");
		top: 792px;
		left: 111px;
	}

	#u88-3:hover
	{
		min-height: 37px;
		width: 61px;
	}

	#u1187-4
	{
		width: 714px;
		min-height: 118px;
		font-size: 100px;
		text-align: right;
		line-height: 120px;
		margin-top: 511px;
		margin-left: 100%;
		left: -767px;
	}

	#u1189-4
	{
		width: 714px;
		min-height: 34px;
		letter-spacing: 8px;
		text-align: right;
		top: -226px;
		margin-bottom: -34px;
		margin-left: 100%;
		left: -767px;
	}

	#u1180
	{
		min-height: 68px;
		padding-bottom: 29px;
	}

	#u1180_align_to_page
	{
		margin-bottom: -82px;
	}

	#u1186
	{
		width: 357px;
		margin-top: 34px;
		margin-left: 100%;
		left: -392px;
	}

	#u1185-4
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4:hover
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#pu1182-4
	{
		width: 67.23%;
		margin-left: 32.78%;
	}

	#u1182-4
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4:hover
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1183-4
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4:hover
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1180-bw
	{
		min-height: 68px;
		margin-top: -82px;
	}

	#about
	{
		margin-left: 22px;
		margin-top: 39px;
	}

	#u1192-4
	{
		margin-top: 142px;
		width: 80.09%;
		margin-left: 9.17%;
	}

	#u1294-4
	{
		width: 80%;
		margin-left: 10%;
	}

	#pu1191-7
	{
		margin-top: 46px;
		width: 100%;
	}

	#u1191-7
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 10%;
	}

	#u1196-12
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 53.34%;
	}

	#gallery
	{
		margin-left: 22px;
		margin-top: 194px;
	}

	#u1262-4
	{
		margin-top: 123px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u1296-4
	{
		margin-top: 6px;
		width: 80%;
		margin-left: 10%;
	}

	#slideshowu1326
	{
		height: 1139px;
		margin-top: 83px;
		left: -480px;
	}

	#u1327
	{
		width: 1200px;
		top: 495px;
		left: -120px;
	}

	#u3997,#u4242,#u4296,#u4341,#u4362,#u4371,#u4396,#u4251
	{
		width: 1156px;
	}

	#u1346
	{
		width: 945px;
	}

	#u4000
	{
		width: 465px;
		height: 272px;
		left: 480px;
	}

	#u4000:hover
	{
		margin-top: 0px;
		width: 465px;
		height: 272px;
	}

	#u4245
	{
		width: 465px;
		height: 272px;
		margin-top: 578px;
	}

	#u4299
	{
		width: 465px;
		height: 272px;
		margin-top: 867px;
	}

	#u4299_img
	{
		margin-top: -19px;
		margin-right: -9px;
		margin-bottom: 4px;
	}

	#u4344
	{
		width: 465px;
		height: 272px;
		margin-top: 867px;
		left: 480px;
	}

	#u4299:hover,#u4344:hover
	{
		margin-top: 867px;
		width: 465px;
		height: 272px;
	}

	#u4365
	{
		width: 465px;
		height: 272px;
		margin-top: 289px;
		left: 480px;
	}

	#u4365_img
	{
		margin-top: -20px;
		margin-bottom: -20px;
	}

	#u4374
	{
		width: 465px;
		height: 272px;
		margin-top: 578px;
		left: 480px;
	}

	#u4245:hover,#u4374:hover
	{
		margin-top: 578px;
		width: 465px;
		height: 272px;
	}

	#u4374_img
	{
		margin-top: -15px;
		margin-bottom: -15px;
	}

	#u4365:hover,#u4399
	{
		margin-top: 289px;
		width: 465px;
		height: 272px;
	}

	#u4399:hover
	{
		margin-top: 289px;
		width: 465px;
		height: 272px;
	}

	#u4399_img
	{
		margin-top: -5px;
		margin-bottom: -4px;
	}

	#u4254
	{
		width: 465px;
		height: 272px;
	}

	#u4254:hover
	{
		width: 465px;
		height: 272px;
	}

	#u4000_img,#u4245_img,#u4344_img,#u4254_img
	{
		margin-top: -19px;
		margin-bottom: -19px;
	}

	#contact
	{
		margin-left: 22px;
		margin-top: 31px;
	}

	#u17295-4
	{
		margin-top: 126px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u2154-4
	{
		margin-top: 6px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u11380
	{
		margin-top: 79px;
		width: 73.84%;
		margin-left: 13.09%;
	}

	#u2163-13
	{
		width: 394px;
		margin-top: 140px;
		margin-left: 50%;
		left: -197px;
	}

	#ppu4752
	{
		margin-top: 97px;
	}

	#u4754
	{
		left: 40px;
	}

	#u4756
	{
		left: -4px;
	}

	#u4758
	{
		left: -90px;
	}

	#u1091-5
	{
		left: -88px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 6004.65px;
		max-width: 1038px;
	}

	#slideshowu75
	{
		height: 859px;
	}

	#u77,#u17612,#u4160,#u4175,#u4198
	{
		width: 1038px;
		height: 778px;
	}

	#u96-3
	{
		width: 62px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_left.png");
		top: 792px;
		left: 19px;
	}

	#u96-3:hover
	{
		min-height: 37px;
		width: 62px;
	}

	#u88-3
	{
		width: 61px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_right.png");
		top: 792px;
		left: 111px;
	}

	#u88-3:hover
	{
		min-height: 37px;
		width: 61px;
	}

	#u1187-4
	{
		width: 639px;
		min-height: 118px;
		font-size: 100px;
		text-align: right;
		line-height: 120px;
		margin-top: 510px;
		margin-left: 100%;
		left: -702px;
	}

	#u1189-4
	{
		width: 639px;
		min-height: 34px;
		letter-spacing: 8px;
		text-align: right;
		top: -226px;
		margin-bottom: -34px;
		margin-left: 100%;
		left: -702px;
	}

	#u1180
	{
		min-height: 68px;
		padding-bottom: 29px;
	}

	#u1180_align_to_page
	{
		margin-bottom: -82px;
	}

	#u1186
	{
		width: 357px;
		margin-top: 34px;
		margin-left: 100%;
		left: -398px;
	}

	#u1185-4
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4:hover
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#pu1182-4
	{
		width: 67.23%;
		margin-left: 32.78%;
	}

	#u1182-4
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4:hover
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1183-4
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4:hover
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1180-bw
	{
		min-height: 68px;
		margin-top: -82px;
	}

	#about
	{
		margin-left: 25px;
		margin-top: 39px;
	}

	#u1192-4
	{
		margin-top: 117px;
		width: 76.11%;
		margin-left: 12.05%;
	}

	#u1294-4
	{
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u1191-7
	{
		margin-top: 96px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u1196-12
	{
		margin-top: 8px;
		width: 76.11%;
		margin-left: 11.95%;
		left: 0px;
	}

	#gallery
	{
		margin-left: 25px;
		margin-top: 236px;
	}

	#u1262-4
	{
		margin-top: 125px;
		width: 76.11%;
		margin-left: 12.05%;
	}

	#u1296-4
	{
		margin-top: 6px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#slideshowu1326
	{
		height: 2245px;
		margin-top: 96px;
		left: -301px;
	}

	#u1327
	{
		width: 1038px;
		top: -19px;
		left: -218px;
	}

	#u3997,#u4242,#u4296,#u4341,#u4362,#u4371,#u4396,#u4251
	{
		width: 994px;
	}

	#u1346
	{
		width: 602px;
	}

	#u4000
	{
		width: 602px;
		height: 272px;
		margin-top: 1127px;
	}

	#u4000:hover
	{
		margin-top: 1127px;
		width: 602px;
		height: 272px;
	}

	#u4245
	{
		width: 602px;
		height: 272px;
		margin-top: 564px;
	}

	#u4245:hover
	{
		margin-top: 564px;
		width: 602px;
		height: 272px;
	}

	#u4299
	{
		width: 602px;
		height: 272px;
		margin-top: 845px;
	}

	#u4299:hover
	{
		margin-top: 845px;
		width: 602px;
		height: 272px;
	}

	#u4344
	{
		width: 602px;
		height: 272px;
		margin-top: 1973px;
	}

	#u4344:hover
	{
		margin-top: 1973px;
		width: 602px;
		height: 272px;
	}

	#u4365
	{
		width: 602px;
		height: 272px;
		margin-top: 1409px;
	}

	#u4365:hover
	{
		margin-top: 1409px;
		width: 602px;
		height: 272px;
	}

	#u4374
	{
		width: 602px;
		height: 272px;
		margin-top: 1691px;
	}

	#u4374:hover
	{
		margin-top: 1691px;
		width: 602px;
		height: 272px;
	}

	#u4399
	{
		width: 602px;
		height: 272px;
		margin-top: 282px;
	}

	#u4399:hover
	{
		margin-top: 282px;
		width: 602px;
		height: 272px;
	}

	#u4254
	{
		width: 602px;
		height: 272px;
	}

	#u4254:hover
	{
		width: 602px;
		height: 272px;
	}

	#contact
	{
		margin-left: 25px;
		margin-top: 160px;
	}

	#u17295-4
	{
		margin-top: 95px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u2154-4
	{
		margin-top: 6px;
		width: 75.92%;
		margin-left: 11.95%;
	}

	#u11380
	{
		margin-top: 102px;
		width: 73.8%;
		margin-left: 13.11%;
	}

	#u2163-13
	{
		width: 394px;
		margin-top: 184px;
		margin-left: 50%;
		left: -198px;
	}

	#ppu4752
	{
		margin-top: 122px;
	}

	#u4754
	{
		left: 40px;
	}

	#u4756
	{
		left: -4px;
	}

	#u4758
	{
		left: -90px;
	}

	#u1091-5
	{
		left: -88px;
	}
}

@media (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 5340.65px;
		max-width: 725px;
	}

	#slideshowu75
	{
		height: 323px;
		margin-left: 50%;
		left: -363px;
	}

	#u77,#u17612,#u4160,#u4175,#u4198
	{
		width: 725px;
		height: 323px;
	}

	#u96-3
	{
		width: 20px;
		min-height: 21px;
		background-image: url("../images/arrows-u96-3-fr.png");
		top: 245px;
		left: 307px;
	}

	#u96-3:hover
	{
		min-height: 21px;
		width: 20px;
	}

	#u88-3
	{
		width: 19px;
		min-height: 21px;
		background-image: url("../images/arrows-u88-3-fr.png");
		top: 245px;
		left: 367px;
	}

	#u88-3:hover
	{
		min-height: 21px;
		width: 19px;
	}

	#u1187-4
	{
		width: 317px;
		min-height: 74px;
		font-size: 64px;
		text-align: center;
		line-height: 77px;
		margin-top: 104px;
		margin-left: 50%;
		left: -161px;
	}

	#u1189-4
	{
		width: 317px;
		min-height: 37px;
		letter-spacing: 5px;
		text-align: center;
		top: -142px;
		margin-bottom: -37px;
		margin-left: 50%;
		left: -161px;
	}

	#u1180
	{
		min-height: 65px;
		padding-bottom: 32px;
	}

	#u1186
	{
		width: 314px;
		margin-top: 31px;
		margin-left: 50%;
		left: -158px;
	}

	#u1185-4
	{
		width: 103px;
		margin-left: 50%;
		left: -157px;
	}

	#u1185-4:hover
	{
		width: 103px;
		margin-left: 50%;
		left: -157px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 103px;
		margin-left: 50%;
		left: -157px;
	}

	#pu1182-4
	{
		width: 67.2%;
		margin-left: 16.41%;
	}

	#u1182-4
	{
		width: 105px;
		margin-left: 50%;
		left: 50.49999999999999px;
	}

	#u1182-4:hover
	{
		width: 105px;
		margin-left: 50%;
		left: 50.49999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 105px;
		margin-left: 50%;
		left: 50.49999999999999px;
	}

	#u1183-4
	{
		width: 104px;
		margin-left: 50%;
		left: -54.50000000000001px;
	}

	#u1183-4:hover
	{
		width: 104px;
		margin-left: 50%;
		left: -54.50000000000001px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 104px;
		margin-left: 50%;
		left: -54.50000000000001px;
	}

	#u1180-bw
	{
		min-height: 65px;
	}

	#about
	{
		margin-left: 26px;
		top: -1px;
		margin-bottom: -1px;
	}

	#u1294-4
	{
		width: 76.14%;
		margin-left: 11.87%;
	}

	#u1191-7
	{
		margin-top: 96px;
		width: 76.14%;
		margin-left: 12%;
	}

	#u1196-12
	{
		margin-top: 26px;
		width: 76.14%;
		margin-left: 12%;
	}

	#gallery
	{
		margin-left: 26px;
		margin-top: 189px;
	}

	#u1192-4,#u1262-4
	{
		margin-top: 75px;
		width: 76%;
		margin-left: 12%;
	}

	#u1296-4
	{
		margin-top: 5px;
		width: 76.14%;
		margin-left: 11.87%;
	}

	#slideshowu1326
	{
		height: 1772px;
		margin-top: 88px;
		left: -159px;
	}

	#u1327
	{
		width: 725px;
		top: 43px;
		left: -204px;
	}

	#u3997,#u4242,#u4296,#u4341,#u4362,#u4371,#u4396,#u4251
	{
		width: 681px;
	}

	#u1346
	{
		width: 318px;
	}

	#u4000
	{
		width: 318px;
		height: 213px;
		margin-top: 888px;
	}

	#u4000:hover
	{
		margin-top: 888px;
		width: 318px;
		height: 213px;
	}

	#u4245
	{
		width: 318px;
		height: 213px;
		margin-top: 448px;
	}

	#u4245:hover
	{
		margin-top: 448px;
		width: 318px;
		height: 213px;
	}

	#u4299
	{
		width: 318px;
		height: 213px;
		margin-top: 672px;
	}

	#u4299:hover
	{
		margin-top: 672px;
		width: 318px;
		height: 213px;
	}

	#u4299_img
	{
		margin: -11px -24px 7px -17px;
	}

	#u4344
	{
		width: 318px;
		height: 213px;
		margin-top: 1559px;
	}

	#u4344:hover
	{
		margin-top: 1559px;
		width: 318px;
		height: 213px;
	}

	#u4000_img,#u4245_img,#u4344_img
	{
		margin-left: -1px;
	}

	#u4365
	{
		width: 318px;
		height: 213px;
		margin-top: 1112px;
	}

	#u4365:hover
	{
		margin-top: 1112px;
		width: 318px;
		height: 213px;
	}

	#u4374
	{
		width: 318px;
		height: 213px;
		margin-top: 1336px;
	}

	#u4374:hover
	{
		margin-top: 1336px;
		width: 318px;
		height: 213px;
	}

	#u4374_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u4399
	{
		width: 318px;
		height: 213px;
		margin-top: 224px;
	}

	#u4399:hover
	{
		margin-top: 224px;
		width: 318px;
		height: 213px;
	}

	#u4399_img
	{
		margin-left: -17px;
		margin-right: -17px;
	}

	#u4254
	{
		width: 318px;
		height: 213px;
	}

	#u4254:hover
	{
		width: 318px;
		height: 213px;
	}

	#u4254_img
	{
		margin-left: -1px;
		margin-right: -1px;
	}

	#contact
	{
		margin-left: 26px;
		margin-top: 165px;
	}

	#u17295-4
	{
		margin-top: 99px;
		width: 76%;
		margin-left: 11.73%;
	}

	#u2154-4
	{
		margin-top: 2px;
		width: 73.94%;
		margin-left: 12.97%;
	}

	#u11380
	{
		margin-top: 83px;
		width: 73.8%;
		margin-left: 13.11%;
	}

	#u2163-13
	{
		margin-top: 423px;
		width: 54.35%;
		margin-left: 22.83%;
		left: 1px;
	}

	#ppu4752
	{
		margin-top: 197px;
	}

	#u4754
	{
		left: 41px;
	}

	#u4756
	{
		left: -5px;
	}

	#u4758
	{
		left: -91px;
	}

	#u1091-5
	{
		left: -89px;
	}

	body
	{
		min-width: 320px;
	}
}

