#u4752
{
	vertical-align: top;
	background: transparent url("../images/u4752.png") no-repeat 0px 0px;
}

#u4752:hover
{
	background: transparent url("../images/u4752-r.png") no-repeat 0px 0px;
}

.hidpi #u4752
{
	background-image: url("../images/u4752_2x.png");
	background-size: 48px 49px;
}

.hidpi #u4752:hover
{
	background-image: url("../images/u4752-r_2x.png");
	background-size: 48px 49px;
}

#u4754
{
	vertical-align: top;
	background: transparent url("../images/u4754.png") no-repeat 0px 0px;
}

#u4754:hover
{
	background: transparent url("../images/u4754-r.png") no-repeat 0px 0px;
}

.hidpi #u4754
{
	background-image: url("../images/u4754_2x.png");
	background-size: 48px 49px;
}

.hidpi #u4754:hover
{
	background-image: url("../images/u4754-r_2x.png");
	background-size: 48px 49px;
}

#u4756
{
	vertical-align: top;
	background: transparent url("../images/u4756.png") no-repeat 0px 0px;
}

#u4756:hover
{
	background: transparent url("../images/u4756-r.png") no-repeat 0px 0px;
}

.hidpi #u4756
{
	background-image: url("../images/u4756_2x.png");
	background-size: 48px 49px;
}

.hidpi #u4756:hover
{
	background-image: url("../images/u4756-r_2x.png");
	background-size: 48px 49px;
}

#u4758
{
	vertical-align: top;
	background: transparent url("../images/u4758.png") no-repeat 0px 0px;
}

#u4758:hover
{
	background: transparent url("../images/u4758-r.png") no-repeat 0px 0px;
}

.hidpi #u4758
{
	background-image: url("../images/u4758_2x.png");
	background-size: 48px 49px;
}

.hidpi #u4758:hover
{
	background-image: url("../images/u4758-r_2x.png");
	background-size: 48px 49px;
}

#u1091-5
{
	color: #191919;
	text-align: center;
	font-family: open-sans, sans-serif;
	letter-spacing: 1px;
	line-height: 14px;
	background-color: transparent;
	font-size: 12px;
	font-weight: 400;
}

#u1091-2
{
	color: #A5A5A5;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}




